canvas {
    background: black;
    margin: 0 auto;
    cursor: none;
}
h2 {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(240,150,0);
    font-size: 40px;
    z-index: 0;
    animation: bounce 0.5s; 
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes bounce {
    0%   { transform: translateY(30px);  }
    100%  { transform: translateY(0); }
}


a {
    padding: 20px;
    width: 200px;
    border-radius: 40px;
    background: rgb(240, 150, 0);
    font-size: 25px;
    font-weight: bolder;
    text-decoration: none;
    display: block;
    margin-top: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    letter-spacing: 2px;
    text-shadow: 2px 1px #888888;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, .33)
}
a:hover {
    background: white;
    color: rgb(240,150,0);
    text-shadow: 2px 1px #888888;
    transition: .2s;
}
.menu {
    background: rgba(0, 0, 0, 0);
    width: 240px;
    text-align: center;
    margin: 0 auto;
}
#playAgain {
    background: rgba(0, 0, 0, 0);
    width: 240px;
    text-align: center;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 25%;
    display: none;
}
.settings {
  /*  display: none; */
}
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}
  
body { 
    margin:0;
    background: rgb(48, 51, 63);
}
.score {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    width:310px;
    color: #dddddd;
    
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
}
.rangeSlider {
    -webkit-appearance: none;
    appearance: none;
    width: 100%; 
    height: 5px; 
    background: white; 
    outline: none; 
    opacity: 0.7; 
    -webkit-transition: .2s; 
    transition: opacity .2s;
    border-radius: 5px; 
}
.gameModifiers {
    width: 200px;
    margin: 0 auto;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 1px;
}


.rangeSlider::-webkit-slider-thumb {
    -webkit-appearance: none; 
    appearance: none;
    width: 25px;
    height: 25px;
    background: rgb(255, 175, 0);
    cursor: pointer;
    border-radius: 50%;
  }
  
  .rangeSlider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: rgb(255,175,0);
    cursor: pointer;
    border-radius: 50%;
  }
  td {
      padding-top: 5px;
  }