canvas {
    background: black;
    margin: 0 auto;
    cursor: none;
    border: 3px solid rgb(240,100,0);
    border-radius: 10px;
}
h2 {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(240,150,0);
    font-size: 40px;
    z-index: 0;
    /*   Here is our animation  */
    animation: bounce 0.5s; 
    animation-iteration-count: infinite;
    animation-direction: alternate; 
    /****************************/
    width: 400px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 22px;
    text-align: center;
}



@keyframes bounce {
    0%    { transform: translateY(30px);  }
    100%  { transform: translateY(0); }
}

.settings {
    width: 35px;
    font-size: 35px;
    height: 35px;
    text-align: center;
    color: white;
    font-weight: bolder;
    position: absolute;
    top: -45px;
    right: 0;
    border-radius: 50%;
}

.home {
    width: 35px;
    font-size: 35px;
    height: 35px;
    text-align: center;
    color: white;
    font-weight: bolder;
    position: absolute;
    top: -35px;
    right: 33px;
    border-radius: 50%;
}
.home:hover {
    transition: .2s;
    transform: scale(1.1);
    cursor: pointer;
}

.settings:hover {
    transition: .2s;
    transform: scale(1.1);
    cursor: pointer;
}
.over {
    position: relative;
    width: 326px;
    margin-left: auto;
    margin-right: auto;
    height: 486px;
}
a {
    padding: 20px;
    width: 200px;
    border-radius: 40px;
    background: rgb(240, 150, 0);
    font-size: 25px;
    font-weight: bolder;
    text-decoration: none;
    display: block;
    margin-top: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    letter-spacing: 2px;
    text-shadow: 2px 1px #888888;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, .33)
}
a:hover {
    background: white;
    color: rgb(240,150,0);
    text-shadow: 2px 1px #888888;
    transition: .2s;
}
.menu {
    background: rgb(240, 175, 0);
    width: 240px;
    text-align: center;
    position: relative;
    top: 50px; 
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    color: black;
    border-radius: 10px;
}
.startMenu {
    width: 240px;
    text-align: center;
    position: relative;
    top: 50px; 
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    color: white;
    border-radius: 10px;
}

.overlay {
    width: 326px;
    height: 486px;
    position: relative;
    top: -486px;
}
.hScores {
    width: 326px;
    height: 486px;
    position: relative;
    top: -486px;
}
.hScores table {
    font-family: fantasy;
    margin: 0 auto;
    color: white;
    letter-spacing: 1.5px;
}
.highScore {
    top: 50px;
    position: relative;
    top: 50px; 
    margin-left: auto;
    margin-right: auto;
}
.remainingChars {
    right: 15px;
    position: relative;
}
#playAgain {
    background: rgba(0, 0, 0, 0);
    width: 240px;
    text-align: center;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 15%;
    display: none;
}
.scoreTable {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 1px;
    font-size: 15px;
}
table.scoreTable {
    border-collapse: collapse;
    margin: 0 auto;
    position: relative;
    top: 25px;
}
table.scoreTable th, table.scoreTable td {
    border-bottom: 1px solid #888888;
}
input
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #888888;
    -webkit-transition: .4s;
    transition: .4s;
}
.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

input[type="text"] {
    font-size: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background: none;
    color: white;
    border: none;
    border-bottom: 2px solid white;
}
input[type="text"]:focus {
    outline: none;
    border-bottom: 2px solid white;
}
button {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: none;
    letter-spacing: 2px;
    text-shadow: 2px 1px #888888;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, .33);
    padding: 20px;
    width: 100px;
    border-radius: 40px;
    background: rgb(240, 150, 0);
    font-size: 25px;
    font-weight: bolder;
    text-decoration: none;
    color: white;
}
button:hover {
    background: white;
    color: rgb(240,150,0);
    transition: .2s; 
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}
  
body { 
    margin:0;
    background: rgb(48, 51, 63);
}
.score {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 5px;
    right: 0;
    width:310px;
    color: #dddddd;
    margin-top: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    pointer-events: none;
}
.time {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    right: 5px;
    left: 0;
    width:310px;
    color: #dddddd;
    margin-top: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    pointer-events: none;
    text-align: right;
}
.rangeSlider {
    -webkit-appearance: none;
    appearance: none;
    width: 169px; 
    height: 5px; 
    background: black; 
    outline: none; 
    /*opacity: 0.7; */ 
    -webkit-transition: .2s; 
    transition: opacity .2s;
    border-radius: 5px; 
}
.gameModifiers {
    width: 200px;
    margin: 0 auto;
    color: black;
    font-size: 16px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 1px;
}
.rangeSlider::-webkit-slider-thumb {
    -webkit-appearance: none; 
    appearance: none;
    width: 25px;
    height: 25px;
    background: rgba(220,100,0,1);
    border: 2px solid black;
    cursor: pointer;
    border-radius: 50%;
    color: white;
  } 
  .rangeSlider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: rgba(220,100,0,1);
    border: 2px solid black;
    cursor: pointer;
    border-radius: 50%;
  }
  tr td {
      padding-top: 7px;
  }
.modTable {
    border-top: 1px dotted #888888;
    padding: 5px;
    border-radius:5px;
    margin: 0 auto;
}
.buttons {
    font-weight: bolder;
    width:45%;
    vertical-align:middle;
    padding:5px;
    border-radius: 10px;
}

.buttons:hover {
    border: 1px solid black;
    transition: .2s;
    transform: scale(0.95);
}