canvas {
    background: black;
    margin: 0 auto;
    cursor: none;
}
h2 {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(240,150,0);
    font-size: 40px;
    z-index: 0;
}
a {
    padding: 20px;
    width: 200px;
    border-radius: 40px;
    background: rgb(240, 150, 0);
    font-size: 25px;
    font-weight: bolder;
    text-decoration: none;
    display: block;
    margin-top: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    letter-spacing: 2px;
    text-shadow: 2px 1px #888888;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, .33)
}
a:hover {
    background: white;
    color: rgb(240,150,0);
    text-shadow: 2px 1px #888888;
    transition: .2s;
}
.menu {
    background: rgba(0, 0, 0, 0);
    width: 240px;
    text-align: center;
    margin: 0 auto;
}
#playAgain {
    background: rgba(0, 0, 0, 0);
    width: 240px;
    text-align: center;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 50%;
    display: none;
}

body { 
    margin:0;
    background: rgb(48, 51, 63);
}
.score {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    width:310px;
    color: #dddddd;
    
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
}