body {
    font-family: 'Courier New', Courier, monospace;
}
table {
    border-collapse: collapse;
    margin: 0 auto;
}
th, td {
    font-size: 12px;
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
tr:hover {
    transition: .3s;
    background-color: #f0f0f0;
}