body {
    font-family: 'Courier New', Courier, monospace;
}
table {
    border-collapse: collapse;
    margin: 0 auto;
}
th, td {
    font-size: 12px;
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
th {
    font-size: 16px;
    font-weight: bolder;
}
tr:hover {
    transition: .1s;
    background-color: #f0f0f0;
}