body {
    font-family: 'Courier New', Courier, monospace;
}
table {
    border-collapse: collapse;
    margin: 0 auto;
}
th, td {
    font-size: 12px;
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
th {
    font-size: 16px;
    font-weight: bolder;
}
tr:hover {
    transition: .1s;
    background-color: #f0f0f0;
}
th { 
    background: rgb(98, 190, 105);
    color: white;
}
.complete {
    text-align: center;
    color: rgb(0,150,0);
    content: "&#10004";
}
.incomplete {
    text-align: center;
    color: rgb(200,0,0);
    content: "&#10006";
}
a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    padding: 5px;
    border: 1px solid #777;
    border-radius: 4px;
}
a:hover {
    background: #444;
    color: white;
    transition: .2s;
}